body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: auto;
}
.header-content {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
   
}
.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.info h1 {
    color: #123456;
    margin-bottom: 10px;
    
}
.info .info-row {
    display: flex;
   
}
.info .info-row p {
    margin: 5px 0;
    flex: 1;
    
}
.info .info-row p:first-child {
    font-weight: bold;
    margin-right: -350px; /* Reduced margin-right value */
}
.photo {
    flex-shrink: 0;
}
.photo img {
    width: 150px;
    height: 200px;
    
    object-fit: cover;
}
.tables-container {
    display: flex;
    width: 100%;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-combined {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

}

.table-combined td {
    padding: 8px;
    border-bottom: 2px solid #eaeaed; 
    vertical-align: top;
    
}

.table-a-cell {
    width: 50px; 
}

.table-b-cell {
    width: 170px;
    vertical-align: top;
    height: auto;
    
}


th, td {
    padding: 1px;
    text-align: left;
}

h2 {
    padding-top: 45px;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 1px;
}
.projects ul {
    list-style-type: none; /* Loại bỏ dấu đầu dòng mặc định */
    padding-left: 1px; /* Xóa khoảng trống bên trái */
    padding-bottom: 25px;
}

.projects ul li {
    padding-top: 10px;
    margin-bottom: -15px; /* Khoảng cách giữa các mục */


}

.projects ul ul {
    margin-top: -1px; /* Khoảng cách giữa các danh sách lồng nhau */
 
}

.projects ul ul li:before {
    content: "\2022"; /* Biểu tượng chấm tròn */
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và nội dung */
    padding-left: 15px; 
    text-align: left;
    padding-bottom: 2px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}
.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table td {
    padding: 8px;
    text-align: left;
    border: none;
    font-size: 15px;
    padding-bottom: -15em;
}

.bullet {
    display: inline-block;
    width: 10px;
}

.info-table td span {
    display: inline-block;
    width: 1em;
    margin-right: 5px;
    text-align: center; 
}
.contact .numbered-list  {
    list-style-type: decimal; /* Sử dụng số để đánh số các mục */
    padding-left: 20px; /* Khoảng cách từ bên trái */
}
